body {
  background-color: #D1E8E4;
  margin:0;
}


a{
  color: #11999E;
  font-family: 'Merriweather', sans-serif;
  font-size: 14px;
  margin:40px;
  text-decoration: none;
}

a:hover{
  color: grey;
}

h1 {
  font-family: 'Sacramento', cursive;
  display: flex;
  justify-content: center;
  font-size: 100px;
  color: #11999E;
  padding-bottom: 0;
  line-height: 10px;
}

h2{color: #11999E;}

h3{
  color: #66BFBF;
}

p{
  font-family: 'Merriweather', sans-serif;
  color: #6FB2D2;
}

hr {
  border-style: dashed;
  border-color: grey;
  width: 60px;
}

.sleepy{
  height: 110px;
  width: 110px;
}

.intro{
  font-family: 'Merriweather', sans-serif;
  display: flex;
  justify-content: center;
  color: #6FB2D2;
  font-size: 15 rem;
}

.middle-container{
  text-align: center;
}

.mypic {
  justify-content: center;
  text-align: center;
}

.skills{
  text-align: center;
}

.hotskillsimg{
height : 70px;
width: 70px;
float:left;
margin-left: 40%;
}

.buddingimg{
  height : 70px;
  width: 70px;
  float:left;
  margin-left: 40%;
}

.skill-row{
text-align: left;
clear;
}

.skillformat{
  padding-left: 50px;
}

.bottom-container{
  text-align: center;
}

.skill-row2{
text-align: left;
}

.contact-me{
  text-align: center;
}
.hi {
font-family: 'Merriweather', sans-serif;
}

.middle-container{
    font-family: 'Merriweather', sans-serif;
}
.bottom-container {
    font-family: 'Merriweather', sans-serif;
}

/*border-width:0px 10px 10px 2-px
border: solid;
width:sol
*/

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 2px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  padding-top: 26px;
background: silver;
padding: 40px 0 20px;
}

.copyright{
  color: grey;
  font-size: 10px;
}
